resources:
  - ./resources/upstream.yaml
  - ./resources/argocd-metrics-servicemonitor.yaml
  - ./resources/argocd-server-metrics-servicemonitor.yaml
  - ./resources/argocd-repo-server-metrics-servicemonitor.yaml
  - ./resources/argocd-notifications-controller-metrics-servicemonitor.yaml
  - ./resources/grafana-certificate.yaml
  - ./resources/grafana-ingress.yaml
  - ./resources/grafana-issuer.yaml

generatorOptions:
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: argocd

configMapGenerator:
  - name: argocd-dashboard-cm
    files:
      - dashboard.json

patches:
  - path: overlays/prometheus-operator-grafana-cm.yaml
  - path: overlays/prometheus-operator-grafana-secret.yaml
    target:
      name: prometheus-operator-grafana
      namespace: prometheus-operator
      version: v1
      kind: Secret
  - path: overlays/prometheus-crds-annotations.yaml
    target:
      name: .*
      version: v1
      group: apiextensions.k8s.io
      kind: CustomResourceDefinition
  - path: overlays/patch-priority-class.yaml
    target:
      kind: Deployment
  - path: overlays/patch-priority-class.yaml
    target:
      kind: StatefulSet
