apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - base/argo-cd-issuer.yaml
  - base/argo-cd-certificate.yaml
  - base/argo-cd-ui-ingress.yaml
  - base/jenkins-ingress.yaml
  - base/rollouts-extension.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.10.1/manifests/ha/install.yaml

components:
  - https://github.com/argoproj-labs/argocd-extensions/manifests

patches:
  - path: overlays/production/argo-cd-cm.yaml
  - path: overlays/production/argocd-server-service.yaml
  - path: overlays/production/argocd-repo-server-deploy.yaml
  - path: overlays/production/argocd-notifications-controller-deploy.yaml
  - path: overlays/production/argocd-notifications-cm.yaml
  - path: overlays/production/argocd-cmd-params-cm.yaml
  - path: https://raw.githubusercontent.com/argoproj/argo-cd/v2.10.1/notifications_catalog/install.yaml

images:
  - name: quay.io/argoproj/argocd
    newTag: v2.10.1
